html,body,#app,.el-container{
  /*设置内部填充为0，几个布局元素之间没有间距*/
  padding: 0px;
   /*外部间距也是如此设置*/
  margin: 0px;
}

.el-header {
    margin-left: 180px;
    background-color: white;
    border-bottom: 1px solid #dce2e4;
    color: #333;
    font-size: 30px;
    text-align: left;
    line-height: 80px;
  }
  
  .el-aside {
    position: fixed;
    background-color: #444444;
    color: #ffffff;
    text-align: left;
    line-height: 50px;
    overflow-y: auto;
    height: 1000px;
  }
  
  .el-main {
    margin-left: 180px;
    padding: 0px;
    color: #333;
    text-align: center;
    line-height: 20px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }